
<h1>Tasks Admin</h1>

<h2>Unassigned</h2>
<%= render 'tasks_table', tasks: sort_tasks(@unassigned), unassigned: true %>

<div class="row">
  <div class="col-sm-3">

    <h3>New Task</h3>

    <%= render 'shared/new_form' %>

  </div>
</div>

<div style="margin-top: 50px;">
<% @users.each do |user| %>
<h2><%= user.name %></h2>

<%= render 'tasks_table', tasks: sort_tasks(user.tasks), unassigned: false %>

<% end %>
</div>