@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	margin-bottom: 50px;
}

table.table {
 	margin-bottom: 50px;
}

form {
	margin-bottom: 50px;
}

div.links {
	margin-bottom: 50px;
	ul {
		list-style: none;
		float: right;
		li {
			font-size: 16px;
			margin-bottom: 6px;
		}
	}
}