@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	margin-bottom: 50px;
}

table.table {
 	margin-bottom: 50px;
}

table.table > tbody > tr > td {
	vertical-align: middle;
}

.navbar-btn {
	margin-left: 10px;
}

.glyphicon-ok {
	color: green;
}

.glyphicon-remove {
	color: red;
}