@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	margin-bottom: 50px;
}

.navbar-btn {
	margin-left: 10px;
}

.glyphicon-ok {
	color: green;
}

.glyphicon-remove {
	color: red;
}

$pad: 44px;
$plusMinusWidth: 14px;
$plusMinusMargin: 14px;
$flowWidth: 15%;
$taskWidth: 35%;
$statusWidth: 20%;
$writerWidth: 10%;
._sent {
	margin-left: -100px;
	width: 150px;
	white-space: nowrap;
}

.headings {

	padding-left: $pad - $plusMinusWidth - $plusMinusMargin;
	padding-right: $pad;

	> * {
			display: inline-block;	

			&.h-plus-minus {
			width: $plusMinusWidth;
			margin-right: $plusMinusMargin;
			}		

			&.h-flow {
				width: $flowWidth;
			}

			&.h-task {
				width: $taskWidth;
			}

			&.h-status {
				width: $statusWidth;
			}

			&.h-draft {

			}

			&.h-writer {
				width: $writerWidth;
			}

			&.h-sent {
				@extend ._sent;
			}
		}
}

.panel-heading, .panel-body {
	form, button, select {
		display: inline-block;
	}
}

.panel-heading {
	height: 54px;
	padding-left: $pad - $plusMinusWidth - $plusMinusMargin;
	padding-right: $pad;

	white-space: nowrap;

	a {
		text-decoration: none;
	}

	  div {
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		text-overflow: ellipsis;

		&.flow:hover, &.task-name:hover {
			overflow: auto;
			text-overflow: clip;
		}

		&.plus-minus {
			width: $plusMinusWidth;
			margin-right: $plusMinusMargin;
		}

		&.flow {
		width: $flowWidth;
		}

		&.task-name {
			width: $taskWidth;

			span {			
				font-size: 18px;
				font-weight: bold;
				word-spacing: 5px;
				white-space: nowrap;
			}
		}

		&.status {
			width: $statusWidth;
			select {
				width: 130px;
			}
		}

		&.draft {
			span {
				margin-left: 20px;
			}
		}

		&.task-writer {
			width: $writerWidth;
		}

		&.sent {
			@extend ._sent;
		}

		&.pr-done {

		}

		&.completion-date {
			width: 25%;
		}

		&.resurrect {
			width: 15%;
		}

		&.task-actions{
			span.glyphicon-pencil, span.glyphicon-trash {
			margin: 0 10px 0 10px;
			}
		}
	}
}

.panel-body {
	height: 100px;
	vertical-align: top;

	white-space: nowrap;

	> div {
		display: inline-block;
		vertical-align: top;
	}

	div.task-info {
		width: 240px;
		margin-right: 50px;
		div {
			display: block;
			margin-bottom: 20px;
		}

		.start-date {

		}

		.peer-review {
		}

	}

	.notes {
		width: 60%;	

		form {
			width: 100%;
			height: 100%;
		}
				
		textarea {
			width: 90%;
			height: 100%;	
			resize: none;				
		}

		.btn {
			float: right;
		}
	}

	.task-actions {
		display: block;
		width: 85px;
		float: right;
		span.glyphicon-pencil, span.glyphicon-trash {
			margin: 0 10px 0 10px;
		}

		.done {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 1199px) {
	.flow, .task-writer, .h-flow, .h-writer {
		display: none !important;
	}

	.task-info {
		margin-right: 0 !important;
	}

	.notes {
		width: 30% !important;
		.btn {
			position: relative !important;
			left: 50px !important;
		}
	}

	.task-name > span {
		font-size: 12px !important;
	}

	._sent {
		margin-left: 0 !important;
		width: 10% !important;
	}
}

@media (max-width: 600px) {
	.sent, .h-sent, .draft, .h-draft, .h-completion-date, .notes, .completion-date, #peer-reviews div.status {
		display: none !important;
	}

	.headings {
		h3 {
			font-size: 10px !important;
		}
	}

	.task-actions {
		margin-left: 50px !important;
	}
}